// Color Variables
$color-background: #ffffff;
$color-background-modal: #000000;
$color-border: #e1e4e7;
$color-border-highlight: #00c854;

$color-text-header: #212529;
$color-text-highlight: #00c854;
$color-text-category: #7e848a;
$color-text-rest: #adb5bd;
$color-text-content-01: #212529;
$color-text-content-02: #495057;
$color-text-filter: #adb5bd;
$color-text-filter-active: #495057;
$color-text-title: #282c30;
$color-text-button: #ffffff;

// Font Sizes
$font-size-H1: 2.2rem;
$font-size-H2: 1.8rem;
$font-size-H3: 1.6rem;
$font-size-H4: 1.3rem;
