@import "./_varaiables.scss";

#section {
  display: flex;
  margin: 0 39rem 0 39rem;
  justify-content: center;

  #section-left {
    display: flex;
    padding-right: 4rem;
    button {
      width: 23.5rem;
      height: 6rem;

      border-radius: 0.5rem;
      background: $color-text-highlight;
      font-size: $font-size-H1;
      font-weight: bold;
      color: $color-text-button;
    }
  }

  #section-right {
    display: flex;
    min-width: 42rem;
    width: 100%;
    flex-direction: column;

    // 필터 컨트롤러
    #container-controller {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      #sorter {
        button {
          font-size: $font-size-H4;
          color: $color-text-filter;

          background: none;
          border: none;
          outline: none;

          &.active {
            color: $color-text-filter-active;
          }
        }
      }

      #filter {
        width: 4.8rem;
        height: 2.4rem;

        border: 0.1rem solid $color-border;
        background: #ffffff;
        border-radius: 0.3rem;
        color: $color-text-filter;
      }
    }

    // 피드 컨테이너
    .container-feed {
      border: 0.1rem solid $color-border;
      border-radius: 0.5rem;
      padding: 2rem;
      margin-bottom: 3rem;
      &:hover {
        cursor: pointer;
      }

      .category {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-border;
        margin-bottom: 1.5rem;
        .category-name {
          font-size: $font-size-H4;
          color: $color-text-category;
        }

        .category-id {
          font-size: $font-size-H4;
          color: $color-text-category;
        }
      }

      .info {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .info-userId {
          display: flex;
          align-items: center;

          padding-right: 1rem;
          border-right: 1px solid $color-border;
          height: 1.5rem;
          font-size: $font-size-H4;
          color: $color-text-highlight;
        }

        .info-createdAt {
          padding-left: 1rem;
          font-size: $font-size-H4;
          color: $color-text-content-02;
        }
      }

      .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        font-size: $font-size-H2;
        color: $color-text-title;
        font-weight: bold;

        margin-bottom: 0.5rem;
      }

      .contents {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        font-size: $font-size-H3;
        color: $color-text-content-02;
      }
    }

    // 광고 컨테이너
    .container-ads {
      border: 0.1rem solid $color-border;
      border-radius: 0.5rem;

      padding: 2rem;
      margin-bottom: 3rem;
      &:hover {
        cursor: pointer;
      }

      .header {
        font-size: $font-size-H4;
        color: $color-text-rest;
        margin-bottom: 1.65rem;
      }

      .section {
        display: flex;

        .img-container {
          height: 18rem;
          min-height: 18rem;
          width: 31rem;
          min-width: 31rem;
          margin-right: 3rem;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        .article {
          .title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            word-break: break-all;

            font-size: $font-size-H2;
            color: $color-text-title;
            font-weight: bold;

            margin-bottom: 0.5rem;
          }

          .contents {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            word-break: break-all;

            font-size: $font-size-H3;
            color: $color-text-content-02;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #section {
    margin: 0rem;
  }

  #section-left {
    display: none !important;
  }

  #section-right {
    min-width: auto !important;
    background: #f4f5f7;

    div {
      border-radius: 0rem !important;
      border-left: none !important;
      border-right: none !important;
    }

    #container-controller {
      height: 4.4rem;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin: 0rem !important;
      border-bottom: 1px solid $color-border;
      background: $color-background;
    }

    .container-feed {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      margin-bottom: 1rem !important;
      box-shadow: 0px 5px 10px #0000000d;
      border: none !important;
      background: $color-background;

      .info {
        .info-userId {
          border-right: none !important;
        }

        .info-createdAt {
          display: none;
        }
      }
    }

    .container-ads {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      margin-bottom: 1rem !important;
      box-shadow: 0px 5px 10px #0000000d;
      border: none !important;
      background: $color-background;

      .section {
        flex-direction: column;

        .img-container {
          width: 100% !important;
          min-width: 100% !important;
          height: calc(100vw * 0.58) !important;
          min-height: calc(100vw * 0.58) !important;

          img {
            height: auto !important;
          }
        }
        .article > .contents {
          -webkit-line-clamp: 2 !important;
        }
      }
    }
  }
}
